.spinner-overlay {
  position: fixed;
  background: rgba(134, 133, 133, 0.2);
  width: 100%;
  height: 100%;
  z-index: 1000;
}
@keyframes n8xu27618i {
  0% { transform: scale(1.1) }
  100% { transform: scale(1) }
}
.n8xu27618i div {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 12px;
  left: 12px;
  background: #e15b64;
  animation: n8xu27618i 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.3s;
}
.n8xu27618i div:nth-child(2) {
  top: 12px;
  left: 56px;
  background: #f47e60;
  animation-delay: -0.2s;
}
.n8xu27618i div:nth-child(3) {
  top: 56px;
  left: 12px;
  background: #abbd81;
  animation-delay: 0s;
}
.n8xu27618i div:nth-child(4) {
  top: 56px;
  left: 56px;
  background: #f8b26a;
  animation-delay: -0.1s;
}
.spinner-4428cjz22sr {
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  width: 61px;
  height: 61px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
  z-index: 1001;
}
.n8xu27618i {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.61);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.n8xu27618i div { box-sizing: content-box; }